In [5]:
import os
import pickle as pkl

from pydeseq2.dds import DeseqDataSet
from pydeseq2.default_inference import DefaultInference
from pydeseq2.ds import DeseqStats
from pydeseq2.utils import load_example_data
import pandas as pd

data = pd.read_excel('C:\\Users\\yylqy\\Desktop\\BMC_Revise\\Puptative_VG\\Tdro\\Tdro.vg.ca.counts.xlsx',index_col=0,header=0)
data = data.T
data = data.applymap(lambda x : round(x))
data

gene_id,TRINITY_DN100017_c0_g1_i1.p1,TRINITY_DN100018_c0_g1_i1.p1,TRINITY_DN100018_c0_g2_i1.p1,TRINITY_DN10002_c0_g1_i1.p1,TRINITY_DN10002_c0_g1_i1.p2,TRINITY_DN10003_c0_g2_i2.p1,TRINITY_DN10003_c0_g2_i2.p2,TRINITY_DN10003_c0_g2_i2.p3,TRINITY_DN100046_c0_g1_i1.p1,TRINITY_DN100047_c0_g1_i1.p2,...,TRINITY_DN9998_c0_g2_i14.p3,TRINITY_DN9998_c0_g2_i14.p4,TRINITY_DN9998_c0_g2_i14.p5,TRINITY_DN99991_c0_g2_i1.p1,TRINITY_DN999_c0_g1_i1.p1,TRINITY_DN999_c0_g2_i3.p1,TRINITY_DN99_c0_g1_i21.p1,TRINITY_DN9_c0_g1_i1.p1,TRINITY_DN9_c1_g1_i9.p1,TRINITY_DN9_c1_g1_i9.p2
vg1,0,0,0,0,0,0,30,21,0,0,...,3,22,0,0,0,0,9,23,0,0
vg2,0,0,0,0,0,3,19,14,0,0,...,28,13,0,0,0,2,104,62,0,0
vg3,0,0,0,0,0,5,48,25,0,0,...,30,18,0,0,16,2,121,2,0,0
vgca1,0,0,0,0,0,9,467,141,0,0,...,340,74,0,0,63,13,4500,30,0,0
vgca2,0,0,0,1,0,6,670,185,0,0,...,466,104,0,0,95,29,5649,41,0,0
vgca3,0,0,0,0,0,3,406,111,0,0,...,258,52,0,0,47,14,3538,20,0,0

In [7]:
meta_data = pd.DataFrame(['vg','vg','vg','ca','ca','ca'],columns = ['condition'])
meta_data.index  = ['vg1','vg2','vg3','vgca1','vgca2','vgca3']
meta_data

      condition
vg1          vg
vg2          vg
vg3          vg
vgca1        ca
vgca2        ca
vgca3        ca

In [8]:
counts_df = data
genes_to_keep = counts_df.columns[counts_df.sum(axis=0) >= 6]
counts_df = counts_df[genes_to_keep]
inference = DefaultInference(n_cpus=8)
dds = DeseqDataSet(
    counts=counts_df,
    metadata=meta_data,
    design_factors="condition",
    refit_cooks=True,
    inference=inference,
)
dds

AnnData object with n_obs Ã— n_vars = 6 Ã— 18037
    obs: 'condition'
    obsm: 'design_matrix'

In [9]:
dds.deseq2()

Fitting size factors...
... done in 0.02 seconds.

Fitting dispersions...
... done in 8.32 seconds.

Fitting dispersion trend curve...
... done in 0.68 seconds.

Fitting MAP dispersions...
... done in 8.41 seconds.

Fitting LFCs...
... done in 5.13 seconds.

Replacing 0 outlier genes.

In [10]:
print(dds.varm["LFC"])

                              intercept  condition_vg_vs_ca
gene_id
TRINITY_DN10003_c0_g2_i2.p1    0.855382            0.921110
TRINITY_DN10003_c0_g2_i2.p2    5.303437           -0.950970
TRINITY_DN10003_c0_g2_i2.p3    4.042461           -0.167269
TRINITY_DN10004_c0_g1_i13.p1  -0.714099            2.001574
TRINITY_DN10004_c0_g1_i13.p3  -0.303831            0.148245
...                                 ...                 ...
TRINITY_DN9998_c0_g2_i14.p4    3.387724            0.380953
TRINITY_DN999_c0_g1_i1.p1      3.269032           -0.813731
TRINITY_DN999_c0_g2_i3.p1      1.965307           -0.850751
TRINITY_DN99_c0_g1_i21.p1      7.490428           -2.360418
TRINITY_DN9_c0_g1_i1.p1        2.458410            1.756199

[18037 rows x 2 columns]

In [14]:
stat_res = DeseqStats(dds, inference=inference)
stat_res.results_df.to_csv('vg.vgca.deseq2.csv' )

AttributeError: 'DeseqStats' object has no attribute 'to_csv'